
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*estilos del HEADER*/
.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px;
    height: 100px;
    width: 100%;
}

/*estilos del div logo*/
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 10px;
    color: #ffffff;
}

.nav-logo a{ 
    color: #ffffff;
}

/*INICIO estilos del menu*/
.nav-menu{
   list-style: none;
}

/*alinear menú*/
.nav-menu li{
    display: inline;
    margin-right: 2px;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
}

.nav-menu li:hover{
    background-color: #8b8b8b50;
}

.nav-menu li a:hover{
    color: #ffffff;
}

.nav-menu li a{
    text-decoration: none;
    color: #8b8b8b;
}
/*fin de estilos de menu*/

a{
    text-decoration: none;
    color: inherit;
}
/*INICIO MAIN DE PAGINAS*/
.main-product{
    display: flex;
    flex-direction: row;
    padding: 10px;
    min-height: 63vh;
}

.aside-product{
    width: 250px;
    background-color: #db8f8f;
    padding: 5px;
    text-align: center;
    border: 1px solid #000000;
}

.section-product{
    width: 100%;
    display :flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    background-color: #ffffff;
    padding: 5px;
}

.product-container {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    padding: 5px;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 8%;
    background-color: #ffffff;
}

.product-container a{
    text-align: center;
}

.product-container img{
    width: 248px;
    height: 160px;
    object-fit: contain;
    margin-bottom: 10px;
}

.product-container h2{
    font-size: 15px;
    margin-bottom: 5px;
    text-align: center;
}

.product-container h3{
    font-size: 12px;
    margin-bottom: 5px;
    text-align: center;
}

/*FIN MAIN DE PAGINAS*/
/*INICIO FOOTER*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
    flex-wrap: wrap;
}

.prefooter{
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 150px;
    height: auto;
}

.logo-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-footer img{
    width: 110px;
    height: 100px;
    object-fit: contain;
}

.redes-footer{
    display: flex;
    gap: 20px;
    font-size: 40px;
    padding: 10px;
}

.redes-footer a{
    transition: color 0.4s ease;
}

.redes-footer a:hover{
    color:#8b8b8b;
    transform: scale(1.1);
}

.datos-public{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.datos-public p{
    padding-left: 5px;
}

.explorar{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.explorar a{
    padding-left: 5px;
    transition: color 0.4s ease;
}
.explorar a:hover{
    color: #8b8b8b;
    transform: scale(1.1);
}
.footer-list{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 20px;
    font-size: 15px;
}

.footer-list li a{
    transition: color 0.4s ease;
}

.footer-list li a:hover{
    color: #8b8b8b;
    transform: scale(1.1);
}

/*FIN FOOTER*/

/*INICIA MEDIA QUERIES */
/*footer media queries*/
@media (max-width: 600px){
    footer{
        height: auto;
    }
    .prefooter{
        flex-direction: column;
        height: auto;
    }
    .footer-list{
        flex-direction: column;
        align-items: center;
        gap: 5px;
        font-size: 12px;
        padding: 5px;
    }
}