
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*estilos del HEADER*/
.nav-header{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: grid;
    grid-template-columns: auto 1fr auto; /*logo espacio hamburguesa*/
    align-items: center;
    gap: .75rem;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 16px;
    width: 100%;
}

/*estilos del div logo*/
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
}

/*Boton hamburguesa*/
.hamburguesa{
    justify-self: end;
    background: none;
    border: none;
    cursor: pointer;
    padding: .25rem;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hamburguesa i{
    color: #ffffff;
    font-size: 24px;
}

/*Estilos del buscador*/
.nav-buscador{
    grid-column: 1/ -1;/*Ocupa las columnas de borde a borde*/
    display: flex;
    align-items: center;
    gap: .5rem;
    background: rgb(255, 255, 255);
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    width: 100%;
}

.nav-buscador input{ /*estilos del input, sino queda con los bordes dentro del div buscador*/
    border: none; /*le saca el borde*/
    outline: none; /*le saca el borde al hacer click*/
    padding: 5px;
    font-size: 14px;
    width: 100%; /*para que ocupe todo el espacio disponible*/
}

.nav-buscador input:focus{
    box-shadow: none; /*le saca la sombra*/
}

.nav-buscador button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #8b8b8b;
}

.nav-logo a{ 
    color: #ffffff;
}

/*INICIO estilos del menu*/
.nav-menu{
   display: none; /*oculto por defecto*/
   grid-column: 1/ -1; /*ocupa las columnas de borde a borde*/
}

.nav-menu ul{
    list-style: none;
    margin: 0;
    padding: .5em 0;
    flex-direction: column;
    gap: 10px;
}

.nav-menu li{
    display: block;
}

.nav-menu a{
    text-decoration: none;
    color: #8b8b8b;
    padding: .5rem .25rem;
    border-radius: 8px;
    display: block;
}

.nav-menu li:hover{
    background-color: #8b8b8b50;
}

.nav-menu a:hover{
    color: #ffffff;
}

.nav-menu.open{
    display: block; /*muestro el menu cuando tiene la clase open, que se activa por JS*/
}

/*fin de estilos de menu*/

a{
    text-decoration: none;
    color: inherit;
}
/*INICIO MAIN DE PAGINAS*/
.main-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150vh;
    width: 100%;
    color: #000000;
}

.main-product{ /*main de productos*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    min-height: 63vh;
    background-color: rgb(230, 230, 230);
}

.main-contacto{ /*main de contacto*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 63vh;
    background-image: url(../img/camaraFondo.jpg);
    background-size: cover;
    background-position: top;
}

.main-detalleProducto{ /*main de detalles de productos*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 63vh;
    background-color: rgb(230, 230, 230);
}

.main-nosotros{ /*main de nosotros*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    min-height: 63vh;
}

.contenido-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 20px 0 20px 0;
}

.presentacion-index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.719), rgba(255, 255, 255, 0.5)), url(../img/camaraFondo3.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px;
}

.texto-presentacion{
    max-width: 800px;
    margin-top: 10px;
}
.texto-presentacion p{
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
}

.breve-desc{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.indicacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    gap: 5px;
    width: 100%;
}

.subtitulo{
    text-align: center;
    margin: 11px;
}

/*Carrusel contenedor*/
.carrusel{
    position: relative;/*para posicionar los botones*/
    display: grid;
    grid-template-columns: 1fr auto 1fr; /*columna central para imagenes, laterales para botones*/
    align-items: center;
    gap: 10px;
}

.muestra-product{
    display: flex;
    align-items: center;
    gap: 12px;
    height: 350px;
    width: 100%;
    background-color: rgb(230, 230, 230);
    padding: 20px;
    border-radius: 10px;

    overflow: auto;/*para que aparezca la barra de scroll si es necesario*/
    scroll-snap-type: x mandatory; /*para que el scroll se detenga en cada elemento*/
    scroll-behavior: smooth; /*para que el scroll sea suave*/
    /*-webkit-overflow-scrolling: touch;*/
}

/* Ocultar barra de scroll (opcional) 
.muestra-product { scrollbar-width: none; }*/

.card-ayuda{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 350px;
    width: 100%;
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
    text-align: center;
}

.card-ayuda ul{
    text-align: center;
}

.item-container{
    display: flex;
    gap: 5px;
    padding: 5px;
    margin: 10px;
    width: 60%;
    background-color: #ffffff;
}

/*quita el estilo default de las listas*/
ul li {
    list-style-type: none;
}

.aside-product{
    width: 30%;
    background-color: #e0e0e0;
    padding: 5px;
}

.aside-product h3{
    text-align: center;
    padding: 5px 0 5px 0;
}

.aside-product h4{
    padding: 10px 0 5px 5px;
}

.aside-product ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 10px;
}

.section-product{
    width: 100%;
    display :flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    background-color: #ffffff;
    padding: 20px;
}

.product-container {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 330px;
    padding: 5px;
    align-items: center;
    border: 1px solid #c9c9c9;
    border-radius: 8%;
    background-color: #ffffff;
    transition: 0.4s ease;
    flex: 0 0 220px; /*para que no se encoja ni crezca*/
    scroll-snap-align: center; /*para que el scroll se detenga en el centro del elemento*/
}

.carr-btn{
    background: #000000;
    color: #ffffff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    display: grid;
    place-items: center;/*para centrar el icono*/
    transition: transform .15s ease, opacity .15s ease;/*transicion para el hover*/
}

.carr-btn:hover{
    transform: scale(1.06);
    opacity: 0.8;
}

.carr-btn:disabled{/*estilo cuando el boton esta deshabilitado*/
    opacity: 0.3;
    cursor: default;/*quita el cursor de mano*/
}

.product-container a{
    text-align: center;
}

.product-container:hover{
    transform: scale(1.04);
}

.product-container img{
    height: 160px;
    overflow: hidden;
    object-fit: contain;
    margin-bottom: 10px;
    width: 100%;
}

.product-container h2{
    display: -webkit-box;
    -webkit-line-clamp: 2;   /* máximo 2 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
    margin: 0 auto 5px;
    width: 90%;
    font-size: 17px;
}

.product-container h3{
    font-size: 12px;
    margin-bottom: 5px;
    text-align: center;
    color: #525252;
}

/*detalle de producto*/
.detalle-contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 80%;
    height: auto;
    background-color: rgb(255, 255, 255);
}
.detalle-producto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 50%;
}

.imagen-detalle{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 300px;
    height: 300px;
}

.imagen-detalle img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info-detalle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    gap: 10px;
}

.precio-producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    border: 1px solid #c9c9c9;
    border-radius: 12px;
    padding: 20px;
    min-width: 200px;
}

.btns-compra{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.btn-comprar, .btn-añadirCarrito{
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px;
    border: 1px solid #666666;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
    width: 100%;
}

.btn-comprar:hover{
    background-color: #8b8b8b;
    color: black;
    transform: scale(1.02);
}

.btn-añadirCarrito{
    background-color: #414141;
}

.btn-añadirCarrito:hover{
    background-color: #8b8b8b;
    color: black;
    transform: scale(1.02);
}

.descripcion-producto{
    display: flex;
    justify-content: start;
    width: 80%;
    padding: 20px;
}

.descripcion-producto div{
    width: 500px;
    gap: 50px;
}

.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.contacto h1{
    text-align: center;
    margin-bottom: 20px;;
}

.contacto-form{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    backdrop-filter: blur(1px);
}

.form-datos{
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-datos label{
    font-weight: bold;
}
.form-datos input, textarea{
    padding: 8px;
    border: 2px solid #d4d4d4;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: 0.3s ease;
    background-color: rgb(58, 58, 58);
}

input:focus, textarea:focus{
    border-color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.form-datos textarea{
    resize: none;
}

.btn-enviar{
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border: 1px solid #666666;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.8s ease, transform 0.8s ease-in-out;
    width: 100%;
}

.btn-enviar:hover{
    background-color: #444;
    transform: scale(1.02);
}

.titulo-nosotros{
    text-align: center;
    margin: 20px;
}

.nosotros-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 80%;
    height: auto;
    background-color: #b4b4b449;
    padding: 20px;
    border-radius: 10px;
}

.nosotros-texto{
    max-width: 800px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}

.clientes-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    gap: 15px;
    padding: 20px;
    width: 100%;
    min-height: 280px;
}

.card-clientes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease;
}

.card-clientes:hover{
    transform: scale(1.05);
}

.card-clientes img{
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

/*FIN MAIN DE PAGINAS*/
/*INICIO FOOTER*/
footer{
    position: static;   /* vuelve a ser parte del flujo normal */
    bottom: auto;
    left: auto;   
    height: 250px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
    flex-wrap: wrap;
}

.prefooter{
    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 150px;
    height: auto;
}

.logo-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-footer img{
    width: 110px;
    height: 100px;
    object-fit: contain;
}

.redes-footer{
    display: flex;
    gap: 20px;
    font-size: 40px;
    padding: 10px;
}

.redes-footer a{
    transition: color 0.4s ease;
}

.redes-footer a:hover{
    color:#8b8b8b;
    transform: scale(1.1);
}

.datos-public{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.datos-public p{
    padding-left: 5px;
}

.explorar{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.explorar a{
    padding-left: 5px;
    transition: color 0.4s ease;
}
.explorar a:hover{
    color: #8b8b8b;
    transform: scale(1.1);
}
.footer-list{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    font-size: 15px;
}

.footer-list li a{
    transition: color 0.4s ease;
}

.footer-list li a:hover{
    color: #8b8b8b;
    transform: scale(1.1);
}

/*FIN FOOTER*/

/*INICIA MEDIA QUERIES */
/*footer media queries*/

@media (min-width: 768px){
    .nav-header{
        grid-template-columns: auto 1fr auto auto; /*logo espacio hamburguesa buscador*/
        padding: 10px 32px;
    }

    .nav-buscador{
        grid-column: auto; /*ocupa solo su columna*/
        width: auto; /*ocupa solo el espacio necesario*/
        margin: 0;
        justify-self: center;
    }

    .hamburguesa{
        display: none; /*oculto el boton hamburguesa en pantallas grandes*/
    }

    .nav-menu{
        display: block; /*muestro el menu en pantallas grandes*/
        grid-column: auto; /*ocupa solo su columna*/
    }

    .nav-menu ul{
        flex-direction: row;
        gap: 15px;
        padding: 0;
    }

    .nav-menu li{
        display: inline-block;
    }
}

@media (max-width: 600px){

    .product-container{
        flex-basis: 75%;
    }

    footer{
        height: auto;
    }
    .prefooter{
        flex-direction: column;
        height: auto;
    }
    .footer-list{
        flex-direction: column;
        align-items: center;
        gap: 5px;
        font-size: 12px;
        padding: 5px;
    }
}